<!DOCTYPE html>
<html lang="en">
<body>
<center>
<h1> LIST OF TABLE</h1>
    <ul>
        <li><a href="http://127.0.0.1:5000/RoomInThePrisonTable">Room in the prison Table</a>
        <li><a href="http://127.0.0.1:5000/prisonTable">Prison Table</a>
        <li><a href="http://127.0.0.1:5000/prisonerTable">Prisoner Table</a>
        <li><a href="http://127.0.0.1:5000/employeeTable">Employee Table</a>
        <li><a href="http://127.0.0.1:5000/supervisorTable">Supervisor Table</a>
        <li><a href="http://127.0.0.1:5000/phoneNumberTable">Phonenumber Table</a>
        <li><a href="http://127.0.0.1:5000/eventTable">Event Table</a>
        <li><a href="http://127.0.0.1:5000/inventoryTable">Inventory Table</a>
        <li><a href="http://127.0.0.1:5000/clothingTable">clothing Table</a>
         <li><a href="http://127.0.0.1:5000/eventgradeTable">EventGrade Table</a>
         <li><a href="http://127.0.0.1:5000/guardTable">Guard Table</a>
    </ul>
</center>
</body>
</html>